.testimonial {
    background-color: var(--verde);
    font-size: 2.4rem;
    padding: 2rem;
    color: var(--blanco);
    border-radius: 2rem;
    margin-bottom: 2rem;
}  

.testimonial blockquote {
    padding-left: 5rem;
    position: relative;
}

blockquote::before {
    content: '';
    background-image: url(../../img/comilla.svg);
    background-repeat: no-repeat;
    width: 6rem;
    height: 8rem;
    display: block;
    position: absolute;
    left: -2rem;
}

.testimonial p {
    text-align: right;
    color: var(--blanco);
}